.main-container {
  width: 100vw;
  padding: 0 20vw;
  margin: 8vh 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;

  @media (max-width: 1080px) {
      grid-template-columns: repeat(2, 1fr);
      padding: 0 18vw;
      gap: 1.5rem;
  }
  
  @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 15vw;
      gap: 1.5rem;
  }
}