@import "variables.scss";
@import "header/header.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $fontFamily;
  font-weight: $regularFontWheigth;
  font-size: $regularFontSize;
  background-color: $backgroundColor;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
