@import "variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $regularFont;
  font-size: 22px;
  background-color: $backgroundColor;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
