$lightFont: 300 10px/12px "Montserrat";
$regularFont: 400 16px/19px "Montserrat";
$boldFont: 600 40px/19px "Montserrat";
$extraBoldFont: 700 28px/15px "Montserrat";

$backgroundColor: #FFFFFF;
$principalColor: #0F52BA;
$black: #000000;
$principalFooterColor: #EEEEEE;
$fontColor: #2C2C2C;

$desktopBreackpoint: 992px;