$lightFontSize: 10px;
$regularFontSize: 16px;
$bigFontSize: 28px;
$extraFontSize: 40px;
$lightFontHeigth: 12px;
$regularFontHeigth: 15px;
$bigFontHeith: 19px;
$lightFontWheigth: 300;
$regularFontWheigth: 400;
$boldFontWheigth: 600;
$extraBoldFontWheigth: 700;
$fontFamily: "Montserrat";

$backgroundColor: #FFFFFF;
$principalColor: #0F52BA;
$black: #000000;
$principalFooterColor: #EEEEEE;
$fontColor: #2C2C2C;

$desktopBreackpoint: 992px;